.controller.ds4 {
    background: url(https://raw.githubusercontent.com/OssamaMR/controller/main/base.png);
     height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/

}
.ds4 .stick {
    position: absolute;
    background: url(https://raw.githubusercontent.com/OssamaMR/controller/main/sticks.png);
    height: 94px;
    width: 94px;

}
.ds4.disconnected {
    background: url(https://raw.githubusercontent.com/OssamaMR/controller/main/disconnected.png);
}
.ds4 .face {
    background: url(https://raw.githubusercontent.com/OssamaMR/controller/main/dpad.png);
    position: absolute;
}
.ds4 .meta.pressed {
    background: url(https://raw.githubusercontent.com/OssamaMR/controller/main/meta.png) no-repeat center;
}
.ds4 .back, .ds4 .start {
    background: url(https://raw.githubusercontent.com/OssamaMR/controller/main/meta.png);
    width: 28px;
    height: 46px;
    opacity: 0;
}
.ds4 .touchpad.pressed {
    background: url(https://raw.githubusercontent.com/OssamaMR/controller/main/touchpad.png) no-repeat center;
}
